/* #padd{
    padding-right: 100px;
} */

header{
    background-image: url(../hello.jpg);
    background-size: 100% 100%;
}

#ghost{
    height: 93vh;
}

#first-button{
    margin-right: 150px;
    margin-left:10px;
}

#neew{
    color:black;
}

.olld{
    margin-top: 260px;
}

#cena{
    margin-top:100px;
    border-radius: 30px;
    padding:12px 42px;
    border:none;
    background-color: rgb(46, 133, 247);
    color: white;
    transition: 0.7s;
    margin-top:20vh; 
}

#cena:hover{
    background-color: rgb(22, 95, 197) ;
}

.red{
    color: rgb(131, 103, 50);
}

#back{
    /* background-color:skyblue; */
    padding-bottom: 60px;
    padding: top 35px;
}

#educ{
    background-color: skyblue;
    padding-top: 40px;
    padding-bottom: 40px;
}

#widh{
    width:600px;
    text-align: justify;
    color: rgb(68, 59, 59);
}

#secon{
    background-color: skyblue;
    padding-top:40px;
    padding-bottom: 30px;
}

.re{
    color: rgb(131, 103, 50);
}

.blue{
    color: rgb(68, 59, 59);
}

.firs{
    font-size: 20px;
    color: #4e5b63;
    margin-bottom: 10px;
}

.sec{
    color:rgb(29, 15, 88)

}

#lastt{
    border-top:1px solid rgb(241, 208, 208);
    margin-top: 100px;
    border-bottom:1px solid rgb(241, 208, 208);
    margin-bottom: 5px;
    padding-bottom:70px;
}

#sec-last{
    margin-top: 80px;
}

#tex{
    color: #775252;
    /* margin-top:70px; */
    /* padding-left:10px; */
    font-size: 26px;
}
/* 
.ico{
    padding-left: 250px;
} */

/* .ppp{
    padding-left:570px;
} */

#nnn{
    color: #aaa;
    font-size :25px;
}